variables:
  # The domain used for the live deploy_prodment
  KUBE_NAMESPACE_dev: dev
  KUBE_NAMESPACE_staging: staging
  KUBE_NAMESPACE_prod: prod
  IP_DEV: 54.217.94.203
  IP_STAGING: 54.217.94.203
  IP_PROD: 54.217.94.203
  NODEPORT_DEV: 30001
  NODEPORT_QA: 30002
  NODEPORT_STAGING: 30003
  NODEPORT_PROD: 30004

default:
  tags:
    - gitlab   # define the default runner, this runner is a shell executer 


stages:
  - build
  - run


build:
  stage: build
  script:
    # Build the container image
    - docker build -t "$CI_REGISTRY_IMAGE/gateway:latest" -f gateway/Dockerfile gateway
    # Tag the container image from latest to the commit ref
    - docker tag "$CI_REGISTRY_IMAGE/gateway:latest" "$CI_REGISTRY_IMAGE/gateway:$CI_COMMIT_SHORT_SHA"
    - docker build -t "$CI_REGISTRY_IMAGE/users:latest" -f users/Dockerfile users
    - docker tag "$CI_REGISTRY_IMAGE/users:latest" "$CI_REGISTRY_IMAGE/users:$CI_COMMIT_SHORT_SHA"
    - docker build -t "$CI_REGISTRY_IMAGE/orders:latest" -f orders/Dockerfile users
    - docker tag "$CI_REGISTRY_IMAGE/orders:latest" "$CI_REGISTRY_IMAGE/orders:$CI_COMMIT_SHORT_SHA"

run:
  stage: run
  script:
    # Start containers with uvicorn
    - docker run -d --name users "$CI_REGISTRY_IMAGE/users:latest" sh -c "uvicorn main:app --reload --host 0.0.0.0"
    - docker run -d --name orders "$CI_REGISTRY_IMAGE/orders:latest" sh -c "uvicorn main:app --reload --host 0.0.0.0"
    - docker run -d -p 8001:8000 --name gateway "$CI_REGISTRY_IMAGE/gateway:latest" sh -c "uvicorn main:app --reload --host 0.0.0.0"

    # Give them some time to start
    - sleep 10

    # Test endpoints
    - curl http://localhost:8001/docs  # gateway
    # For users/orders, you may need container IPs or a custom network

    # Cleanup
    - docker stop gateway users orders
    - docker rm gateway users orders
        # Cleanup images
    - docker rmi -f "$CI_REGISTRY_IMAGE/gateway:latest" "$CI_REGISTRY_IMAGE/gateway:$CI_COMMIT_SHORT_SHA"
    - docker rmi -f "$CI_REGISTRY_IMAGE/users:latest" "$CI_REGISTRY_IMAGE/users:$CI_COMMIT_SHORT_SHA"
    - docker rmi -f "$CI_REGISTRY_IMAGE/orders:latest" "$CI_REGISTRY_IMAGE/orders:$CI_COMMIT_SHORT_SHA"


